<?xml version="1.0"?>
<launch>
    <!-- RPLIDAR node -->
    <node name="rplidar_ros" pkg="rplidar_ros" type="rplidarNodeClient" respawn="false" output="log" required="true"/>   

    <!-- SLAM node -->
    <node name="slam" pkg="slam" type="slam_node" respawn="false" output="screen" required="true"/>

</launch>
